*{
    margin: 0;
    padding: 0;
}

.cadastro{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buttonSubmitCadastro{

    width: 80px;
}
body{
	font-family: sans-serif, "Roboto";
	background-color: #fafafa;
}
h1{
	font-size: 32px;
}
h2{
	font-size: 24px;
	color: #17a2b8;
}
h3{
	font-size: 18px;
	font-weight: normal;
	color: #17a2b8;
}
p{
	font-size: 14px;
	color: #333333;
}

.wrapper{
	max-width: 1020px;
	margin: auto;
}

.book_container{
	width: 25%;
	margin:  1%;
	padding:  20px;
	box-shadow: 0 -5px 20px rgb(0 0 0 / 10%);
	border-radius: 4px;
	float: left;
	background-color: #ffffff;
}
.cardPrice{
	color: #17a2b8;
	margin: 0px;	
}
.cardDetails{
	color: #888;
	margin: 0px;	
	line-height: 120%;	
}
.cardImg{
 max-width: 200px;  
 margin: auto; 
}
.cardImgDisplay{
    max-width: 130px;  
    margin: auto; 
}


.primaryButton{
    background-color: #17a2b8;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #17a2b8;
    cursor: pointer;
}
.primaryButton:hover{
    background-color: #0d8598;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cadastro-modal{
    background-color: #333333;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 3;
}

#cadastro-modal-wrapper{
    padding: 16px;
    background-color: #fff;
    display: inline-grid;
    width: 60%;
    height: auto;
    margin: auto;
}

.closeButton{
    background-color: #fff;
    border: none;
    background-image: url(https://img.icons8.com/material-outlined/512/delete-sign.png);
    background-repeat: no-repeat;
    background-size: 14px;
    padding: 8px;
    cursor: pointer;
}
.closeButton:hover{
    background-size: 12px;
}
.formInput{
    padding: 4px;
    display: inline-block;
    border: 1px solid #bababa;
    margin-bottom: 8px;
    margin-top: 4px;
}

.formLabel{
    font-size: 14px;
    margin-bottom: 4px;
    display: inherit;
}
.comprarModal{
    background-color: #333333;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 3;
}
.comprarModalWrapper{
    padding: 16px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    width: 60%;
    height: 80%;
    margin: auto;
    
}

.comprarModalCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
 
}
.ComprarModalCardDescription{
    margin-left: 12%;
    font-size: 30px;
    width: 80%;
    margin-bottom: 90px;
   

}
.cardImgModal{
    max-width: 230px;  
    margin: auto; 
    border: solid;
}
.comprarModalSelect{
    width: 40%;
    height: 60%;
    background-color: bisque;
    
}
.comprarCardTitle{
    padding: 20px;
    color: black;
    font-size: 25px;
}
.comprarModalSelectQuant{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
}
.comprarModalSelectQuantPreco{
    display: flex;
    flex-direction: row;
    padding: 5px;
    
}
.inputNumber{
    width: 60px;
    height: 37px;
    text-align: center;
    border-radius: 5px;
    background-color: #bababa;
    border: none;
}
.buttonMais{
    width: 37px;
    height: 37px;
    border-radius: 5px;
    background-color: #bababa;
    font-size: 16px;
    border: none;
}
.buttonMenos{
    width: 37px;
    height: 37px;
    border-radius: 5px;
    background-color: #bababa;
    font-size: 16px;
    border: none;
}