*{
    margin: 0;
    padding: 0;
}

.cadastro{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buttonSubmitCadastro{
    width: 80px;
}
body{
	font-family: sans-serif, "Roboto";
	background-color: #fafafa;
}
h1{
	font-size: 32px;
}
h2{
	font-size: 24px;
	color: #17a2b8;
}
h3{
	font-size: 18px;
	font-weight: normal;
	color: #17a2b8;
}
p{
	font-size: 14px;
	color: #333333;
}
.paragraphSmall{
	font-size: 12px;    
}
.wrapper{
	max-width: 1020px;
	margin: auto;
}

.book_container{
	width: 25%;
	margin: 16px;
	padding: 24px;
	box-shadow: 0 -5px 20px rgb(0 0 0 / 10%);
	border-radius: 4px;
	float: left;
	background-color: #ffffff;
}
.li-book-container{
    list-style: none;
}
.cardPrice{
	color: #17a2b8;
	margin: 0px;
    line-height: 180%;	
}
.cardDetails{
	color: #888;
	margin: 0px;	
	line-height: 130%;
}
.cardTitle{
    padding-bottom: 10px;
    padding-top: 10px;
}
.cardImg{
 max-width: 200px;
 max-height: 160px;  
 margin: auto;
 text-align: center;
}
.cardImgDisplay{
    max-width: 130px;  
    margin: auto; 
}
.cardImgcontainer{
    display: flex;
    justify-content: center;
}
.buyButton{
    background-color: #17a2b8;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #17a2b8;
    cursor: pointer;
    font-size: 12px;
    margin-top: 8px;
    width: 100%;
    text-transform: uppercase;
}
.buyButton:hover{
    background-color: #0d8598;

}
.primaryButton{
    background-color: #17a2b8;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #17a2b8;
    cursor: pointer;
}
.primaryButton:hover{
    background-color: #0d8598;

}

.swal-button {
    background-color: #17a2b8;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #17a2b8;
    cursor: pointer;
  }
  .swal-icon img{
    max-width: 100px;
    max-height: 100%;
  }

.searchButton{
    color: #fff;
    padding: 8px 16px;
    height: 32px;
    border: none;
    cursor: pointer;
    width: auto;
    background-image: url("./images/search-icon.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    margin: 0;
    float: left;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

#cadastro-modal{
    background-color: rgb(0,0,0, 0.6);
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    z-index: 3;
}

#cadastro-modal-wrapper{
    padding: 24px;
    background-color: #fff;
    display: inline-grid;
    width: 50%;
    height: auto;
    margin: auto;
}



.closeButton{
    background-color: #fff;
    border: none;
    background-image: url(https://img.icons8.com/material-outlined/512/delete-sign.png);
    background-repeat: no-repeat;
    background-size: 14px;
    padding: 8px;
    cursor: pointer;
}
.closeButton:hover{
    background-size: 12px;
}
.formInput{
    padding: 4px;
    display: inline-block;
    border: 1px solid #bababa;
    margin-bottom: 8px;
    margin-top: 4px;
}

.formLabel{
    font-size: 14px;
    margin-bottom: 4px;
    display: inherit;
}
.searchInput{
    padding: 4px;
    display: inline-block;
    border: none;
    background-color: #ededed;
    float: left;
    margin: 0;
    height: 24px;
}
.comprarModal{
    background-color: rgb(0,0,0, 0.6);
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    z-index: 3;
}

.comprarModalWrapper{
    padding: 16px;
    background-color: #fff;
    gap: 10px;
    width: 60%;
    max-width: 600px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comprarModalCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
 
}

.comprarModalBookInfo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.ComprarModalCardDescription{
    margin-left: 12%;
    font-size: 30px;
    width: 80%;
    margin-bottom: 90px;
   

}
.cardImgModal{
    max-width: 200px;  
    padding:10px;
    margin: auto; 
    border: none;
}
.comprarModalSelect{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.comprarCardTitle{
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
}
.comprarModalSelectQuant{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
}
.comprarModalSelectQuantPreco{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    
}
.inputNumber{
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #ededed;
    border: none;
}
.buttonMais{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.buttonMenos{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.buttons{
    margin-top: 30px;
}
.buttonAdicionar{

    width: 70%;
    height: 20%;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    
}
.buttonComprar{

    width: 70%;
    height: 20%;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
#compraFrete{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap:10px;
}
.calculoFrete{
    width: auto;
    display:flex;
    flex-direction: row;
    gap:10px;
}
#compraFreteInput{
    width: 150px;
    padding: 5px;
}
.compraFreteTitle{
    color: red;
}
.modalFrete{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#compraComFrete{
    display: none;
}
#compraSemFrete{
    display: none;
}

.buttonFrete{
    width: auto;
    height: 26px;
    color: #17a2b8;
    padding: 4px 8px;
    border-radius: 3px;
    border: 2px solid #17a2b8;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 4px
}
